input[name= "output"]
{
	height:40px;
	width:30.6%;
	color:white;
	background-color:black;
	font-size:200%;
	
}

button[name= "black"]
{
	height:30px;
	width:5%;
	color:white;
	background-color:black;
	font-size:100%;
}

button[name= "grey"]
{
	height:30px;
	width:5%;
	color:white;
	background-color:#c0c0c0;
	font-size:100%;
}

button[name= "greylong"]
{
	height:30px;
	width:10.21%;
	color:white;
	background-color:#c0c0c0;
	font-size:100%;
}

button[name= "blue"]
{
	height:30px;
	width:5%;
	color:white;
	background-color:#0080ff;
	font-size:100%;
}

button[name= "darkgrey"]
{
	height:30px;
	width:5%;
	color:white;
	background-color:#808080;
	font-size:100%;
}

button[name= "darkgreylong"]
{
	height:30px;
	width:10.21%;
	color:white;
	background-color:#808080;
	font-size:100%;
}
