#output
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnclear
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnpi
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnsqrt
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnsq
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}


#btnpercent
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnbackspace
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnlog
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnsin
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnexp
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnpower
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnnegpos
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btndiv
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnln
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btncos
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnseven
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btneight
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnnine
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnmult
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnfactorial
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btntan
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnfour
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnfive
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnsix
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnsub
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnradians
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnone
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btntwo
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnthree
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnadd
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btndegrees
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnzero
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnpoint
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#btnequals
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#output
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#output
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}

#output
{
	height:40px;
	width:35%;
	color:white;
	background-color:black;
	font-size:200%;
}


