#output
{
	height:40px;
	width:31.1%;
	color:white;
	background-color:black;
	font-size:200%;
	
}

#black
{
	height:30px;
	width:5%;
	color:white;
	background-color:black;
	font-size:100%;
}

#grey
{
	height:30px;
	width:5%;
	color:white;
	background-color:#c0c0c0;
	font-size:100%;
}

#greylong
{
	height:30px;
	width:10.4%;
	color:white;
	background-color:#c0c0c0;
	font-size:100%;
}

#blue
{
	height:30px;
	width:5%;
	color:white;
	background-color:#0080ff;
	font-size:100%;
}

#darkgrey
{
	height:30px;
	width:5%;
	color:white;
	background-color:#808080;
	font-size:100%;
}

#darkgreylong
{
	height:30px;
	width:10.4%;
	color:white;
	background-color:#808080;
	font-size:100%;
}
